body {
}
h1{
    font-weight:bold;
}

.side-nav{
    position:fixed;
    top:45%;
    right:20px;
    z-index:1;
}
.nav-side-nav{
    text-align:center;
    list-style:none;
    margin:0;
    padding-left:0;
}
.nav-side-nav li{
    padding:8px 0 0 0;
}
.nav-side-nav li a{
    display:block;
    background-color:#d8d8d8;
    width:10px;
    height:10px;
    border-radius:4px;
}

    .nav-side-nav li a:hover {
        
    background-color:#1eb450;
    }


 .onepage{
            height:780px;
        }
        .onepage-bg{
            height:800px;
            width:100%;
            position:absolute;
            background-position:center center;
            background-size:cover;
        }
        #onepagebg {
            background-image: url("../image/pageone.jpg");
        }
        .titletext{
            margin-top:175px;
            margin-left:30px;
        }
            .titletext h1 {
                font-size: 50px;
                color: black;
                font-weight:bold;
            }
            .titletext p {
                font-size: 12px;
                line-height:23px;
                color: black;
            }

            .twopage{
                padding: 2px 0 0 2px;
                background:#d8d8d8;
                height:auto;
                position:relative;
            }
            .twopage-text {
                width:100%;
                text-align:center;
            }
            .twopage-text h1 { 
                margin-top:40px;
                margin-bottom:20px;
                letter-spacing:2px;
                font-size:28px;
                font-weight:bold;
            }
            .twopage-text img{ 
                margin-top:-10px;
                width:120px;
                height:40px;
               
            }

            .twopage .row {
                margin-left:0px;
                margin-right:0px;
            }

            .twopage-course{
                float:left;
                background:#ffffff;
                padding:0 2px 2px 0;
                position:relative;
                overflow:hidden;
            }
            .twopage-course a{
                width:100%;
                height:100%;
                float:left;
                text-align:center;
                position:relative;
            }

            .twopage-course img{
                width:100%;
                height:200px;
            }
            .course-text{
                width:100%;
                height:100%;
                position:absolute;
                left:0;
                top:0;
                color:#fff;
                opacity:0;
            }
            .course-text h3{
                margin-top:60px;
                color:#d1e973;
            }
            .course-text h1{ 
                color:#fff5e1;
            }

            .course-text:hover{
                background:#1eb450;
                opacity:0.8;
                transition: opacity 0.5s;
                -webkit-transition:opacity 0.5s;
            }

            .twopagebtn{
                width:100%; 
                text-align:center;
            }
            #twopage-btn{
                margin-top:20px;
                margin-bottom:10px;
            }
            
            .threepage{
                position:absolute;
                width:100%;
                height:600px;
                background-color:#edf2f2;
            }

            .threepagebg{
                position:absolute;
                top:150px;
                height:350px;
                width:100%;
                background-position:center;
                background-size:contain;
                background-repeat:no-repeat no-repeat;
                background:url("../image/pagethree.png");
            }

            .threepagecontent{
                position:relative;
                width:100%;
                text-align:center;
                margin:0px auto;
            } 

            treepagetext {
            }
            .threepagebtn{
                margin-top:400px;
            }

            .fourpage{
                margin-top:600px;
                width:100%;
                height:600px;
                background:#1eb450
            }
            .fourpagecontainer{
                width:70%;
            }

            .fourpagetitle{
                color:#ffffff;
                margin-top:100px;
                width:100%;
                text-align:center;
            }
             .fourpagetitle p{ 
                margin-top:30px; 
                text-align:left;
            }

            .carousel-inner .item img{
                margin-left:20px; 
            }

            .fivepage{
            }

            .fivepagebg{
                height:600px;
                width:100%;
                position:absolute;
                background-position:center center;
                background-size:cover;
                background:url("../image/page5.jpg");
            }

            .queryicon{
                width:200px; 
            }
            .queryicon:hover{
                border:2px solid #808080;
            }

            .fivepagetext{ 
                margin-top:60px;
                margin-bottom:40px;
                text-align:center;
            }
            .fivepagecenter{
                width:100%;
                height:200px;
                text-align:center;
            }
            .fivepagebottom{
                width:100%;
                text-align:center;
            }
            .fivepagebtn{
                margin-top:20px;
            }
            .fivepagefooter{
                font-size:12px;
                margin-top:10px;
                color:#000000;
            }